body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em;
  color: #1a4666;
  background: #edeeee;
  /* #d7F1FF, #000, #666 */
}

.upload-button {
  position: relative;
  width: 32.5%;
  height: 2em;
  margin: 5em auto 2em;
  background-color: #1a4666;
  color: #edeeee;
  border: 0;
  border-radius: 6px;
  overflow: hidden;
}

.upload-button:first-child {
  width: 100%;
  height: 100%;
  margin: auto;
  color: #666;
  background: #edeeee;
  background-clip: padding-box;
  border: 3px dashed #bbbbbc;
  border-radius: 6px;
  font-size: 8vw;
}

.upload-label {
  display: inline-block;
  position: absolute;
  top: calc(50% - 0.5em);
  width: 100%;
  text-align: center;
}

.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.img-editor {}

.img-editor:after {
  content: "";
  display: block;
  clear: both;
}

.editor-head {
  font-weight: normal;
}

.display {
  float: left;
  width: 50%;
  cursor: crosshair;
  background-color: #bbbbbc;
}

.edits {
  float: left;
  width: 37.5%;
  margin-left: 12.5%;
  padding: 0;
}

.edits .edit {
  position: relative;
  margin-bottom: 1em;
  padding: 0px 0px 0px 56px;
  list-style-type: none;
}

.edits p {
  margin: 0.5em 0;
}

.edits .color {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.edits .tolerance.number {
  width: 4em;
  text-align: center;
}

.edits .tolerance.range {
  width: calc(100% - 7em);
  float: right;
}

.source {
  float: left;
  width: 37.5%;
  height: 0;
  margin-left: 12.5%;
  padding-bottom: 30%;
  background-size: contain;
  background-repeat: no-repeat;
}

.download-link {
  cursor: pointer;
  text-decoration: underline;
}